
/* random-api-exploration */
#user-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: red;
}
.user-box{
 border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: yellow;
}
.user-box img{
  border-radius: 50%;
}

/* end */

/* Explore country */
#explore-counrtry{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: red;
}
.country-Explore{
  border-radius: 15px;
   margin: 20px;
   padding: 20px;
   background-color: pink;
 }

/* end */